#footer {
	background-image: white;
	color: #000000;
	text-align: center;
}

#center {
	flex-grow: 1;
	width: 75vw;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	position: center;
	
}

* {
	font-family: "Helvetica";
	font-size: 20px ;
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #97E5D7;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

h2 {
	font-family: 'Chango', cursive;
	font-size: 48px;
	color: #97E5D7;
	text-align: center;
}

body .ui-toolbar {
	background: #000000;
	color: #495057;
	padding: 1rem;
	border: none;
}

body .ui-tabmenu .ui-tabmenu-nav {
	margin: 0;
	padding: 0;
	background: transparent;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	position: relative;
	
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a {
	color: #97E5D7;
	padding: 1rem;
	font-weight: 700;
	display: block;
	line-height: 1;
	outline: 0 none;
	background-color: #888888;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active a {
	color: #97E5D7;
	background-color: black;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a:hover {
	background-color: #97E5D7;
	color: black;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
	background: #888888;
	border-color: #888888;
}

body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active {
	background: #888888;
	border-color: #97E5D7;
}

.pi-sign-out:before {
	content: "\e971";
	color: #888888;
}
.pi-sign-out:hover:before {
    content: "\e971";
    color: #000000;
}

.pi-home:before {
	content: "\e925";
	color: #97E5D7;
}

.pi-home:hover:before {
	content: "\e925";
	color: black;
}

body .ui-button {
	background: #000000;
	color: #97E5D7;
	outline: 0 none;
	border-radius: none;
	border: none;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s,
		box-shadow 0.2s;
		padding: 0.4em;
    margin: 0.5em;
}

body .btn-accepter {
	background: #97E5D7;
	color: #000000;
}

body .btn-accepter:hover {
	background: #000000;
	color: #97E5D7;
}

body .btn-details {
	background: #FEC8D8;
	color: #000000;
}

body .btn-details:hover {
	background: #000000;
	color: #FEC8D8;
}

body .btn-annulation {
	background: #E18AAA;
	color: #000000;
}

body .btn-annulation:hover {
	background: #000000;
	color: #E18AAA;
}

body .btn-litige {
	background: #957DAD;
	color: #000000;
}

body .btn-litige:hover {
	background: #000000;
	color: #957DAD;
}

body .Logout {
	background-color: #97E5D7;
	margin-top: 5px;
	color: #888888;
}

body .Logout:hover {
	background-color: #97E5D7;
	margin-top: 5px;
	color: #000000;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
    font-family: 'Chango', cursive;
	font-size: 48px;
	color: #97E5D7;
	text-align: center;
}


body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon .ui-icon-closethick:before {
    content: "";   
	color: #97E5D7;
}
/*the container must be positioned relative:*/
.autocomplete {
	position: relative;
	display: inline-block;
}

input .ui-inputfield .ui-fluid{
	border: 1px solid transparent;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
	width: 15vw !important;
}

input[type=text] {
	background-color: #f1f1f1;
	
}

input[type=submit] {
	background-color: DodgerBlue;
	color: #fff;
	cursor: pointer;
}

.ui-fluid .ui-inputtext {
    width: 15vw !important;
    }
    
.ui-fluid .ui-calendar, .ui-fluid .ui-calendar input {
    width: 15vw !important;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
	background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
	background-color: DodgerBlue !important;
	color: #ffffff;
}

li:hover {
	background-color: #000000;
	color: #97E5D7 !important;
}

ul{
	padding-inline-start: 0px;
}

.onglets {
	display: flex;
	background-color: #97E5D7;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0
		5px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
	width: 100%;
	margin-top: 0px;
	
}

.onglet {
    display: flex;
    text-shadow: 0 1px 0 rgb(255 255 255 / 40%);
    text-align: center !important;
    height: 40px;
    vertical-align: middle;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.p-mb-3 {
	margin-left: auto;
	margin-right: auto;
}

h2{
	text-align: center;
}

.padding10{
padding-bottom:1.5em;
}

.marginBot{
	padding-bottom: 20px;
}

body .ui-widget{
	size: 1rem;
}

.labelPref{
	text-decoration: underline #888888 !important;
}

body .ui-chkbox{
	width: 1rem;
    height: 1rem;
}

.ui-selectmanycheckbox .ui-chkbox .ui-chkbox-box {
    display: block;
    width: 1rem;
    height: 1rem;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #97E5D7;
    background: #97E5D7;
    color: #000000;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active.ui-state-hover {
    border-color: #97E5D7;
    background: #888888;
    color: #97E5D7;
}

.ui-selectmanycheckbox .ui-chkbox .ui-chkbox-box:hover {
	 border-color: #97E5D7;
}

.bienvenue{
	margin-top: 20vh;
}

.p-grid.box {
	display:flex;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 15vh;
    padding: 10px;
	background-color: white;
}
